.body {
    width: 84.4%;
    min-height: 90%;
    background-color: var(--neutral-50);
    border-radius: 2.5rem 0 0 2.5rem;
    overflow: scroll;
}

.dashboard-body {
    width: 100%;
    height: 80%;
}
