.bar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--neutral-200);
	border-radius: 0.5rem;
	width: 95%;
	height: 5.82726326742976vh;
	padding: 16px 20px;
	background-color: var(--neutral-100);
	margin-top: 0.4rem;
}

.bar-content:hover {
	background-color: var(--neutral-200);
	cursor: pointer;
}

.discipline-text {
	margin-left: 1rem;
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--stone-900);
}

.no-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
