.body-content {
    width: 78.125%;
    min-height: 2.2892819979188346vh;
}

.discipline-bar {
    display: flex;
    align-items: center;
    border: 1px solid var(--neutral-200);
    border-radius: .5rem;
    width: 98.25%;
    height: 5.82726326742976vh;
    padding: .6rem;
    background-color: var(--neutral-100);
    margin-top: .4rem;
}

.discipline-bar:hover {
    background-color: var(--neutral-200);
    cursor: pointer;
}

.discipline-text {
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--stone-900);
}   

.no-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}