.button-content {
    width: 6.688rem;
    height: 3rem;
    background-color: var(--indigo-500);
    border-radius: 9px;
    color: var(--neutral-50);
    border: 1px solid var(--indigo-500);
}

.button-content:hover {
    background-color: var(--indigo-700);
    cursor: pointer;
}

.cancel-button-content {
    width: 6.688rem;
    height: 3rem;
    background-color: var(--neutral-50);
    border-radius: 9px;
    color: var(--stone-400);
    border: 1px solid var(--stone-400);
}

.cancel-button-content:hover {
    background-color: var(--neutral-300);
    font-weight: bold;
    color: rgb(236, 56, 56);
    border: 1px solid rgb(236, 56, 56);
}

.desabled-button {
    width: 8vw;
    height: 5vh;
    border: 1px solid var(--stone-400);
    color: var(--stone-400);
    cursor: not-allowed;
}