.button-content {
    width: 6.688rem;
    height: 3rem;
    background-color: var(--indigo-500);
    border-radius: 9px;
    color: var(--neutral-50);
    border: 1px solid var(--indigo-500);
}

.button-content:hover {
    background-color: var(--indigo-700);
    cursor: pointer;
}