.button-content {
	width: 6.688rem;
	height: 3rem;
	background-color: var(--indigo-500);
	border-radius: 9px;
	color: var(--neutral-50);
	border: 1px solid var(--indigo-500);
}

.button-content:hover {
	background-color: var(--indigo-700);
	cursor: pointer;
}

.button-form {
	width: 16.375rem;
	height: 3rem;
	align-self: center;
	border: 1px solid var(--indigo-500);
	background-color: var(--indigo-500);
	border-radius: 9px;
	color: var(--neutral-50);
}

.button-form:hover {
	cursor: pointer;
	background-color: var(--indigo-700);
	border: 1px solid var(--indigo-500);
}

.cancel-button-content {
	width: 6.688rem;
	height: 3rem;
	background-color: var(--neutral-50);
	border-radius: 9px;
	color: var(--stone-400);
	border: 1px solid var(--stone-400);
}

.cancel-button-content:hover {
	background-color: var(--neutral-300);
	font-weight: bold;
	color: rgb(236, 56, 56);
	border: 1px solid rgb(236, 56, 56);
}

.desabled-button {
	width: 8vw;
	height: 6vh;
	padding: 12px 28px;
	border: 1px solid var(--stone-400);
	border-radius: 15px;
	color: var(--stone-400);
	cursor: not-allowed;
}

.create-entity-button {
	display: flex;
	align-items: center;
	padding: 0.75rem 1.75rem;
	background-color: var(--indigo-500);
	border: 1px solid var(--indigo-500);
	border-radius: 6px;
	color: var(--neutral-50);
}

.create-entity-button:hover {
	background-color: var(--indigo-700) !important;
	cursor: pointer;
}

.buttons-quiz-area {
	display: flex;
	justify-content: space-around;
	width: 40vw;
}

.create-question-quiz-button {
	border: 1px solid var(--indigo-900);
	border-radius: 6px;
	color: var(--indigo-900);
	width: 11vw;
	padding: 0.75rem 1.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--neutral-50);
}

.create-question-quiz-button:hover {
	background-color: rgba(99, 101, 241, 0.356);
}

.delete-quiz-button {
	border: 1px solid var(--red-500);
	border-radius: 6px;
	color: var(--red-500);
	width: 11vw;
	padding: 0.75rem 1.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.delete-quiz-button:hover {
	background-color: rgba(240, 198, 198, 0.452);
}
