.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8; 
    z-index: 999;
}

.dialog-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 20px;
    z-index: 1000;
    width: 35rem;
    height: 13rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.dialog-button-area {
    display: flex;
    justify-content: flex-end;    
}

.finish-dialog-content {
    border: 1px solid red;
    width: 500px;
    height: 300px;
    z-index: 1;
}

.finish-title-area {
    display: flex;
    align-items: center;
}

.link-to-resume {
    padding: 15px 5px;
    border-radius: 15px;
}

.link-to-resume:hover {
    background-color: var(--neutral-300) !important;
    padding: 15px 10px;
    border-radius: 15px;
}