.exam-component {
    height: 86.57648283038502vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.exam-body {
    width: 39.53147877013177vw;
    height: 69.30983847283407vh;
}

.exam-desc {
    width: 100%;
    height: 8rem;
}
.info-content {
    margin-bottom: 4rem;
}

.li-exam {
    list-style: disc;
    margin-left: 1.5rem;
    margin-top: .4rem;
}

.quantity-color {
    color: var(--indigo-700);
}

.answers-body {
    display: flex;
    justify-content: center;
    min-width: 9.5rem;
    height: 38rem;
    margin-top: 1rem;
    background-color: blue;
}

.attempt-item {
    display: flex;
    justify-content: space-around;
}

.answers-list {
    min-width: 20rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.attempts-list {
    min-width: 20rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.attempt-area-item {
    padding: .5rem 1rem;
}