.panel-dropdown-close {
	display: none;
}

.panel-dropdown-open {
	display: flex;
}

.dropdown-items {
	width: 100%;
	display: flex;
	padding-left: 2.188rem;
	color: var(--indigo-50);
}

.dropdown-items:hover {
	color: var(--yellow-200);
}

.panel-content {
	width: 80%;
	display: flex;
	align-items: center;
}

.dropdown-prof-logo {
	display: flex;
	width: 25%;
}

.dropdown-prof-text {
	display: flex;
	width: 75%;
}

.sidebar-panel-prof-content {
	display: flex;
	flex-direction: row;
	height: 2rem;
}

.drop-prof-logo {
	width: 1.313rem;
	height: 1.313rem;
	margin-left: 2.5rem;
}

.drop-prof-text {
	width: 100%;
	display: flex;
	margin-left: 0.5rem;
	color: var(--indigo-50);
}
