.option-list {
    display: flex;
    flex-direction: column; /* Mantém os itens empilhados verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    list-style: none; /* Remove os marcadores padrão */
    padding: 0;
    margin: 0;
}

.quiz-component {
    height: 100%;
    /* border: 1px solid red; */
    width: 60%;
}

.all-content {
    display: flex;
    width: 100%;
    height: 93%;
}

.quizz-body {
    width: 100%;
    height: 80%;
    padding-top: 2rem;
    overflow-y: scroll;
}

.list-item {
    position: relative;
    align-self: center;
    padding-left: 7.5rem; /* Espaço para o marcador circular */
    margin-bottom: 1rem; /* Espaçamento entre os itens */
    width: 33.313rem; /* Largura fixa */
    line-height: 1.5rem; /* Altura da linha para espaçamento entre linhas */
    word-wrap: break-word; /* Permite a quebra de palavras longas */
    overflow-wrap: break-word; /* Garante a quebra de palavras longas */
    white-space: normal; /* Permite a quebra de linha */
    min-height: 3rem; /* Permite que a altura se ajuste ao conteúdo */
    display: flex;
    align-items: center; /* Alinha o conteúdo à esquerda */
}

.list-item::before {
    content: counter(list-item, lower-alpha);
    counter-increment: list-item;
    position: absolute;
    left: 5rem; /* Posiciona o marcador à esquerda */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta o alinhamento vertical */
    width: 1.5rem; /* Largura do círculo */
    height: 1.5rem; /* Altura do círculo */
    border: 1px solid var(--stone-700); /* Borda do círculo */
    border-radius: 50%; /* Torna o marcador circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--stone-700); /* Cor da letra */
    font-size: 1rem; /* Tamanho da letra */
    background-color: var(--neutral-100); /* Cor de fundo do círculo */
}

.list-item:hover {
    background-color: var(--neutral-300);
}

.question-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.question-number {
    width: 16rem;
    height: 1.75rem;
    display: flex;
    justify-content: start;
    padding-left: 5rem;
    align-items: center;
    color: var(--stone-700);
}

.question-title {
    width: 60%;
    min-height: 15%;
    display: flex;
    justify-content: start;
    padding-left: 5rem;
    align-items: center;
    color: var(--stone-700);
}

.question-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 7rem;
    width: 36.375rem;
    margin-bottom: 2rem;
}

.answers-area{
    width: 36.313rem;
    height: 15.75rem;
}

.answers-student-area {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 57rem;   
}