.option-list {
	display: flex;
	flex-direction: column; /* Mantém os itens empilhados verticalmente */
	align-items: center; /* Centraliza os itens horizontalmente */
	list-style: none; /* Remove os marcadores padrão */
	margin: 0;
	width: 100%; /* Agora a largura será proporcional ao elemento pai */
	max-width: inherit; /* Garante que a largura não ultrapasse a do pai */
}

.quiz-component {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 142.143906020558vh;
	width: 45.82723279648609vw;
}

.all-content {
	display: flex;
	width: 100%;
	height: 93%;
}

.quizz-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 45.82723279648609vw; /* Largura fixa do quizz-body */
}

.list-item {
	position: relative;
	align-self: center;
	margin-bottom: 1rem; /* Espaçamento entre os itens */
	width: 90%; /* Largura relativa ao pai */
	max-width: 33.313rem; /* Limita a largura máxima */
	line-height: 1.5rem; /* Altura da linha para espaçamento entre linhas */
	word-wrap: break-word; /* Permite a quebra de palavras longas */
	overflow-wrap: break-word; /* Garante a quebra de palavras longas */
	white-space: normal; /* Permite a quebra de linha */
	min-height: 3rem; /* Permite que a altura se ajuste ao conteúdo */
	display: flex;
	align-items: center; /* Alinha o conteúdo à esquerda */
	padding-left: 2.8rem;
}

.list-item::before {
	content: counter(list-item, lower-alpha);
	counter-increment: list-item;
	position: absolute;
	left: 1rem; /* Posiciona o marcador à esquerda */
	top: 50%; /* Centraliza verticalmente */
	transform: translateY(-50%); /* Ajusta o alinhamento vertical */
	width: 1.5rem; /* Largura do círculo */
	height: 1.5rem; /* Altura do círculo */
	border: 1px solid var(--stone-700); /* Borda do círculo */
	border-radius: 50%; /* Torna o marcador circular */
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--stone-700); /* Cor da letra */
	font-size: 1rem; /* Tamanho da letra */
	background-color: var(--neutral-100); /* Cor de fundo do círculo */
}

.list-item:hover {
	background-color: var(--neutral-300);
}

.question-container {
	width: 90%; /* Largura relativa ao pai */
	max-width: 42.53294289897511vw; /* Limita a largura máxima */
	height: 58.14977973568282vh;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	padding-left: 3rem;
}

.question-number {
	width: 16rem;
	height: 1.75rem;
	display: flex;
	justify-content: start;
	padding-left: 5rem;
	align-items: center;
	color: var(--stone-700);
}

.question-title {
	width: 60%;
	min-height: 15%;
	display: flex;
	justify-content: start;
	align-items: center;
	color: var(--stone-700);
}

.question-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 20vh;
	width: 90%; /* Largura relativa ao pai */
	max-width: 36.375rem; /* Limita a largura máxima */
	margin-bottom: 0.5rem;
	padding: 1rem;
}

.answers-area {
	width: 90%; /* Largura relativa ao pai */
	max-width: 36.313rem; /* Limita a largura máxima */
	height: 15.75rem;
}

.answers-student-area {
	display: flex;
	justify-content: center;
	width: 90%; /* Largura relativa ao pai */
	height: 142.143906020558vh;
}

.list-text-awnser {
	color: var(--stone-700) !important;
}

/* TODO: QUIZZES DO PROFESSOR */
.quizzes-content {
	background-color: var(--neutral-100);
	border: 1px solid var(--neutral-200);
	width: 32vw;
	height: 5.7vh;
	border-radius: 12px;
	padding: 1rem 1.25rem;
	display: flex;
	align-items: center;
	margin-top: 0.3rem;
}

.quizzes-content:hover {
	background-color: var(--neutral-200);
	cursor: pointer;
}

.instruction-content {
	margin-top: -1rem;
}

.instructions-resume-area {
	width: 60%;
}

.instructions-config-area {
	margin-top: 1rem;
	width: 50%;
}

.attempts-title {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-right: 0.5rem;
}

.attempts-amount {
	color: var(--indigo-500);
}

.config-item {
	display: flex;
	justify-content: start;
	margin-top: 0.3rem;
}

.student-response-content {
	height: 40vh;
	overflow-y: scroll;
	margin-top: 2rem;
}

.student-info {
	display: flex;
	justify-content: space-around;
	width: 25%;
	padding: 0.3rem;
}

.action-area {
	display: flex;
	justify-content: center;
}

.delete-button-content {
	display: flex;
	align-items: center;
	height: 7vh;
	margin-top: 2rem;
}

.delete-quiz-button {
	border: 1px solid var(--red-500);
	border-radius: 6px;
	color: var(--red-500);
	width: 11vw;
	padding: 0.75rem 1.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.delete-quiz-button:hover {
	background-color: rgba(240, 198, 198, 0.452);
}

.quiz-register-form {
	margin-top: 2rem;
}

.quiz-register-first-row {
	display: flex;
	margin-bottom: 0.5rem;
}

.quiz-register-second-row {
	display: flex;
	margin-bottom: 0.5rem;
}

.quiz-register-third-row {
	display: flex;
	margin-bottom: 1rem;
}

.quiz-register-fourth-row {
	display: flex;
	justify-content: center;
	height: 28vh;
	margin-bottom: 0.5rem;
}

.quiz-register-description {
	width: 95%;
	border-radius: 6px;
	border: 1px solid var(--neutral-200);
	padding: 0.75rem 0.5rem;
}

.quiz-register-description:focus {
	outline: 1px solid var(--indigo-500);
	transition: none;
}

.quiz-register-buttons-area {
	width: 98%;
	margin-top: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.quiz-register-generate-button {
	background-color: var(--indigo-500);
	color: var(--neutral-50);
	border-radius: 6px;
	padding: 0.75rem 1.75rem;
	border: none;
	margin-left: 0.75rem;
}

.quiz-register-save-draft-button {
	border-radius: 6px;
	padding: 0.75rem 1.75rem;
	border: 1px solid var(--stone-400);
	color: var(--stone-400);
	background-color: var(--neutral-50);
}

.quiz-register-generate-button:hover {
	cursor: pointer;
	background-color: var(--indigo-700);
}

.quiz-register-save-draft-button:hover {
	background-color: var(--stone-400);
	color: var(--neutral-50);
	border: 1px solid var(--neutral-50);
}
