.option-list {
	display: flex;
	flex-direction: column; /* Mantém os itens empilhados verticalmente */
	align-items: center; /* Centraliza os itens horizontalmente */
	list-style: none; /* Remove os marcadores padrão */
	margin: 0;
	width: 100%; /* Agora a largura será proporcional ao elemento pai */
	max-width: inherit; /* Garante que a largura não ultrapasse a do pai */
}

.quiz-component {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 142.143906020558vh;
	width: 45.82723279648609vw;
}

.all-content {
	display: flex;
	width: 100%;
	height: 93%;
}

.quizz-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 45.82723279648609vw; /* Largura fixa do quizz-body */
}

.list-item {
	position: relative;
	align-self: center;
	margin-bottom: 1rem; /* Espaçamento entre os itens */
	width: 90%; /* Largura relativa ao pai */
	max-width: 33.313rem; /* Limita a largura máxima */
	line-height: 1.5rem; /* Altura da linha para espaçamento entre linhas */
	word-wrap: break-word; /* Permite a quebra de palavras longas */
	overflow-wrap: break-word; /* Garante a quebra de palavras longas */
	white-space: normal; /* Permite a quebra de linha */
	min-height: 3rem; /* Permite que a altura se ajuste ao conteúdo */
	display: flex;
	align-items: center; /* Alinha o conteúdo à esquerda */
	padding-left: 2.8rem;
}

.list-item::before {
	content: counter(list-item, lower-alpha);
	counter-increment: list-item;
	position: absolute;
	left: 1rem; /* Posiciona o marcador à esquerda */
	top: 50%; /* Centraliza verticalmente */
	transform: translateY(-50%); /* Ajusta o alinhamento vertical */
	width: 1.5rem; /* Largura do círculo */
	height: 1.5rem; /* Altura do círculo */
	border: 1px solid var(--stone-700); /* Borda do círculo */
	border-radius: 50%; /* Torna o marcador circular */
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--stone-700); /* Cor da letra */
	font-size: 1rem; /* Tamanho da letra */
	background-color: var(--neutral-100); /* Cor de fundo do círculo */
}

.list-item:hover {
	background-color: var(--neutral-300);
}

.question-container {
	width: 90%; /* Largura relativa ao pai */
	max-width: 42.53294289897511vw; /* Limita a largura máxima */
	height: 58.14977973568282vh;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	padding-left: 3rem;
}

.question-number {
	width: 16rem;
	height: 1.75rem;
	display: flex;
	justify-content: start;
	padding-left: 5rem;
	align-items: center;
	color: var(--stone-700);
}

.question-title {
	width: 60%;
	min-height: 15%;
	display: flex;
	justify-content: start;
	align-items: center;
	color: var(--stone-700);
}

.question-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 20vh;
	width: 90%; /* Largura relativa ao pai */
	max-width: 36.375rem; /* Limita a largura máxima */
	margin-bottom: 0.5rem;
	padding: 1rem;
}

.answers-area {
	width: 90%; /* Largura relativa ao pai */
	max-width: 36.313rem; /* Limita a largura máxima */
	height: 15.75rem;
}

.answers-student-area {
	display: flex;
	justify-content: center;
	width: 90%; /* Largura relativa ao pai */
	height: 142.143906020558vh;
}

.list-text-awnser {
	color: var(--stone-700) !important;
}

/* TODO: QUIZZES DO PROFESSOR */
.quizzes-content {
	background-color: var(--neutral-100);
	border: 1px solid var(--neutral-200);
	width: 32vw;
	height: 5.7vh;
	border-radius: 12px;
	padding: 1rem 1.25rem;
	display: flex;
	align-items: center;
	margin-top: 0.3rem;
}

.quizzes-content:hover {
	background-color: var(--neutral-200);
	cursor: pointer;
}

.instruction-content {
	margin-top: -1rem;
}

.instructions-resume-area {
	width: 60%;
}

.instructions-config-area {
	margin-top: 1rem;
	width: 50%;
}

.attempts-title {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-right: 0.5rem;
}

.attempts-amount {
	color: var(--indigo-500);
}

.config-item {
	display: flex;
	justify-content: start;
	margin-top: 0.3rem;
	list-style: circle;
}

.student-response-content {
	height: 40vh;
	overflow-y: scroll;
	margin-top: 2rem;
}

.student-info {
	display: flex;
	justify-content: space-around;
	width: 25%;
	padding: 0.3rem;
}

.action-area {
	display: flex;
	justify-content: center;
}

.delete-button-content {
	display: flex;
	align-items: center;
	height: 7vh;
	margin-top: 2rem;
}

.quiz-register-form {
	margin-top: 2rem;
}

.quiz-register-first-row {
	display: flex;
}

.quiz-register-second-row {
	display: flex;
}

.quiz-register-third-row {
	display: flex;
}

.quiz-register-fourth-row {
	display: flex;
	justify-content: center;
	height: 28vh;
}

.quiz-register-description {
	width: 95%;
	border-radius: 6px;
	border: 1px solid var(--neutral-200);
	padding: 0.75rem 0.5rem;
}

.quiz-register-description:focus {
	outline: 1px solid var(--indigo-500);
	transition: none;
}

.quiz-register-buttons-area {
	width: 98%;
	margin-top: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.quiz-register-generate-button {
	background-color: var(--indigo-500);
	color: var(--neutral-50);
	border-radius: 6px;
	padding: 0.75rem 1.75rem;
	border: none;
	margin-left: 0.75rem;
}

.quiz-register-generate-button:hover {
	cursor: pointer;
	background-color: var(--indigo-700);
}

.quiz-register-save-draft-button {
	border-radius: 6px;
	padding: 0.75rem 1.75rem;
	border: 1px solid var(--stone-400);
	color: var(--stone-400);
	background-color: var(--neutral-50);
}

.quiz-register-save-draft-button:hover {
	background-color: var(--stone-400);
	color: var(--neutral-50);
	border: 1px solid var(--neutral-50);
}

.questions-form-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.create-question-form {
	margin-bottom: 1rem;
}

.create-question-form > label {
	width: 100%;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	display: flex;
	justify-content: flex-start;
}

.create-question-form > input {
	align-self: flex-start;
	width: 98%;
}

.input-create-answer {
	width: 100%;
	display: flex;
	margin-top: 1rem;
}

.quiz-create-question-icon-area {
	width: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-answer-options {
	width: 100%;
	margin-top: 0.4rem;
	border: none;
	border-radius: 6px;
	border-bottom: 1px solid var(--neutral-200);
	padding: 0.75rem 0.5rem;
}

.input-answer-options-correct {
	background-color: var(--smerald-50);
}

.input-answer-options-correct:focus {
	outline: 1px solid var(--smerald-400);
	transition: none;
}

.input-answer-options-wrong {
	background-color: var(--red-50);
}

.input-answer-options-wrong:focus {
	outline: 1px solid var(--red-500);
	transition: none;
}

.input-answer-area {
	width: 95%;
	display: flex;
}

.button-create-question-area {
	position: fixed;
	bottom: 5rem;
	display: flex;
	justify-content: flex-end;
	width: 73.5vw;
}

.quiz-bar-content {
	display: flex;
	justify-content: space-around;
}

.quiz-bar-content-item {
	width: 33%;
	display: flex;
	justify-content: center;
	padding: 0.5rem;
}

.quiz-type-badge {
	border-radius: 9999px;
	padding: 0.2rem 1rem;
	background-color: var(--indigo-500);
}

.quiz-type-badge p {
	color: var(--neutral-50);
}

.init-button-area {
	display: flex;
	justify-content: flex-start;
	margin-top: 2rem;
}

.quiz-student-content {
	display: flex;
}

.info-card-title-area {
	height: 5%;
}

.info-card-body-area {
	height: 95%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.no-attempts {
	color: var(--stone-400);
	text-align: center;
	word-wrap: break-word;
}

.info-card-body-attempts-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 2rem;
	padding: 1rem;
	height: 70vh;
	width: 23vw;
}

.info-card-row {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 0.5rem;
}

.info-card-body-error {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.info-card-column {
	display: flex;
	justify-content: center;
	align-items: center;
}

.quiz-student-started-content {
	display: flex;
	height: 100%;
	overflow-y: scroll;
}

.quiz-student-questions-area {
	/* border: 1px solid red; */
	width: 55vw;
}

.quiz-student-answers-area {
	/* border: 1px solid green; */
	width: 40vw;
}

.quiz-student-questions-area-component-title {
	display: flex;
	align-items: center;
}

.quiz-student-questions-area-component-body {
	/* border: 1px solid violet; */
	padding: 1rem;
}

.info-card-questions-body {
	margin-top: 1rem;
	height: 80%;
	width: 100%;
	overflow-y: scroll;
}

.info-card-finish-button-area {
	margin-top: 1rem;
}

.question-student-area-answers {
	margin-top: 1rem;
}

.options-area {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	margin-top: 0.5rem;
}

.options-area:hover {
	background-color: var(--yellow-100);
	border-radius: 5px;
	cursor: pointer;
}

.letter-option {
	border: 1px solid var(--stone-700);
	color: var(--stone-700);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2rem;
	width: 1rem;
	height: 1rem;
	border-radius: 999px;
	margin-right: 0.5rem;
}

.answers-list-content {
	display: flex;
	justify-content: space-around;
	padding: 0.4rem;
}

.selected-option {
	background-color: var(--yellow-200);
	border-radius: 5px;
}

.quiz-input-date-column {
	display: flex;
	width: 100%;
	margin-bottom: 2rem;
}

.quiz-input-date-label {
	display: flex;
	align-items: center;
}
