.register-area {
    display: flex;
    width: 90%;
    height: 100%;
    margin-top: 2rem;
    margin-left: 3.75rem;
}
.register-row {
    width: 100%;
}

.label-input-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.input-area {
    width: 90%;
    height: 5.268935236004391vh;
    margin-top: .4rem;
    border-radius: 6px;
    border: 1px solid var(--neutral-200);
}

.input-area:focus {
    outline: 1px solid var(--indigo-500);
    transition: none;
}

.button-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-area {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 8rem;
    width: 100%;
    height: 25vh;
}

.error-message {
    font-size: .8rem !important;
    font-weight: bolder;
    margin-bottom: .5rem;
}