.body-title-area {
	display: flex;
	width: 100%;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem 2rem 0;
}

.title-list-student {
	color: var(--stone-700);
	margin-bottom: 1.8rem;
}

.headers-area {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 95%;
	height: 3vh;
}

.body-area {
	height: 57vh;
	width: 100%;
	overflow-y: scroll;
}

.header-item {
	color: var(--stone-500);
	width: 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2rem;
}

.student-box-area {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 20vw;
	z-index: 1;
}

.actions-click-area {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 2rem;
}

.student-subjects-amount {
	display: flex;
	justify-content: end;
	align-self: center;
	transform: translateX(2rem);
}

.student-subjects-amount div {
	padding: 0 5px;
	border-radius: 5px;
}

.student-subjects-amount div:hover {
	background-color: var(--stone-400);
}
